////////////////////////
// Layouts Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All box model properties go here
////////////////////////


body {
  margin: 0;
  padding: 0;

}

#main, #footer {
  margin: 0 auto;
  width: 90%;

}


#block-views-shopping-cart-block {
  @include grid-span(5, 8);

}

#header {
}
