@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/toolkit-1\.0\.0\/stylesheets\/toolkit\/_border-box\.scss}line{font-family:\000036}}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/toolkit-1\.0\.0\/stylesheets\/toolkit\/_fluid-media\.scss}line{font-family:\000034}}
img, video {
  max-width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000361}}
* html {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000364}}
html {
  font-size: 16px;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/Sites\/Projects\/clients_ck\/interlook\/sites\/beauty\.localhost\/themes\/beautydetails\/sass\/partials\/global\/_extendables\.scss}line{font-family:\0000314}}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/Sites\/Projects\/clients_ck\/interlook\/sites\/beauty\.localhost\/themes\/beautydetails\/sass\/partials\/global\/_extendables\.scss}line{font-family:\0000319}}
.clearfix:after {
  clear: both;
}

/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* normalize.css v2.1.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000320}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000328}}
audio,
canvas,
video {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000339}}
audio:not([controls]) {
  display: none;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000346}}
[hidden] {
  display: none;
}

/* normalize.css v2.1.0 | Base | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_base\.scss}line{font-family:\0000313}}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_base\.scss}line{font-family:\0000337}}
body {
  margin: 0;
}

/* normalize.css v2.1.0 | Links | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_links\.scss}line{font-family:\000039}}
a:focus {
  outline: thin dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_links\.scss}line{font-family:\0000316}}
a:active,
a:hover {
  outline: 0;
}

/* normalize.css v2.1.0 | Typography | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000313}}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000347}}
abbr[title] {
  border-bottom: 1px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000354}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000366}}
dfn {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000373}}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000381}}
mark {
  background: #ff0;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003100}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003110}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003118}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003140}}
small {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003147}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003154}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_typography\.scss}line{font-family:\00003158}}
sub {
  bottom: -0.25em;
}

/* normalize.css v2.1.0 | Embedded Content | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_embeds\.scss}line{font-family:\000039}}
img {
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_embeds\.scss}line{font-family:\0000318}}
svg:not(:root) {
  overflow: hidden;
}

/* normalize.css v2.1.0 | Figures | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_figures\.scss}line{font-family:\000039}}
figure {
  margin: 0;
}

/* normalize.css v2.1.0 | Forms | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000317}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000330}}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000349}}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000363}}
button,
input {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000373}}
button,
select {
  text-transform: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000390}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003101}}
button[disabled],
html input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003113}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003126}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003137}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003144}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003152}}
textarea {
  overflow: auto;
  vertical-align: top;
}

/* normalize.css v2.1.0 | Tables | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/\.rvm\/gems\/ruby-2\.0\.0-p0\/gems\/compass-normalize-1\.4\.3\/stylesheets\/normalize\/_tables\.scss}line{font-family:\000039}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/Sites\/Projects\/clients_ck\/interlook\/sites\/beauty\.localhost\/themes\/beautydetails\/sass\/partials\/styleguide\/_style-guide\.scss}line{font-family:\0000321}}
body {
  font-size: 16px;
  line-height: 24px;
  background: #cccccc;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/Sites\/Projects\/clients_ck\/interlook\/sites\/beauty\.localhost\/themes\/beautydetails\/sass\/partials\/styleguide\/_style-guide\.scss}line{font-family:\0000330}}
#header {
  background: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/Sites\/Projects\/clients_ck\/interlook\/sites\/beauty\.localhost\/themes\/beautydetails\/sass\/partials\/layout\/_layout\.scss}line{font-family:\0000311}}
body {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/Sites\/Projects\/clients_ck\/interlook\/sites\/beauty\.localhost\/themes\/beautydetails\/sass\/partials\/layout\/_layout\.scss}line{font-family:\0000317}}
#main, #footer {
  margin: 0 auto;
  width: 90%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/Sites\/Projects\/clients_ck\/interlook\/sites\/beauty\.localhost\/themes\/beautydetails\/sass\/partials\/layout\/_layout\.scss}line{font-family:\0000324}}
#block-views-shopping-cart-block {
  width: 40.67797%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* these apply to auto-completing form fields */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/Sites\/Projects\/clients_ck\/interlook\/sites\/beauty\.localhost\/themes\/beautydetails\/sass\/partials\/design\/_design\.scss}line{font-family:\0000312}}
html.js input.form-autocomplete {
  background-image: url(path-to-your/loader.gif);
  /* tweak this according to your gif */
  background-position: 100% 0px;
  /* tweak this according to your gif */
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/Sites\/Projects\/clients_ck\/interlook\/sites\/beauty\.localhost\/themes\/beautydetails\/sass\/partials\/design\/_design\.scss}line{font-family:\0000317}}
html.js input.throbbing {
  background-position: 100% -20px;
  /* tweak this according to your gif */
}

/* these apply to all ajax progresses */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/Sites\/Projects\/clients_ck\/interlook\/sites\/beauty\.localhost\/themes\/beautydetails\/sass\/partials\/design\/_design\.scss}line{font-family:\0000322}}
.ajax-progress {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gu\/Sites\/Projects\/clients_ck\/interlook\/sites\/beauty\.localhost\/themes\/beautydetails\/sass\/partials\/design\/_design\.scss}line{font-family:\0000327}}
.ajax-progress .throbber {
  background: transparent url(path-to-your/loader.gif) no-repeat 0px 0px;
  /* tweak this according to your gif */
  float: left;
  height: 20px;
  /* tweak this according to your gif */
  width: 20px;
  /* tweak this according to your gif */
  margin: 2px;
}
