////////////////////////
// Style Guide Partials
//
// Your Style Guide
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All Style Guide selectors should go in here, regardless of layout or design (but separating the two in here is a good idea).
////////////////////////

//////////////////////////////
// CSS Resets
//
// Choose your CSS Reset method:
//  If you'd like a hard reset, uncomment `compass/reset`.
//  If you'd prefer a soft reset, uncomment `compass-normalize`
//////////////////////////////
// @import 'compass/rest';
@import 'normalize';


body {

  font-size: $base-font-size;
  line-height: $base-line-height;
  @include background(#ccc);
  color: #fff;
}


#header {
  @include background(#000);
}
